
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-10_1,.frame-content-10_1 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-10_1 {
  height: 489px;
  overflow: hidden;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4) ;
  background-color: rgba(255, 255, 255, 1);
}

.frame-content-10_1 {
  gap: 10px;
  padding: 17px 16px 10px 16px;
  height: 100%;
}

.Pixso-frame-10_2 {
  width: 100%;
  height: 21px;
}

.Pixso-paragraph-10_3 {
  font-size: 16px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  color: rgba(24, 46, 65, 1);
  width: 131px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-frame-10_4,.frame-content-10_4,.Pixso-frame-10_5 {
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-10_4 {
  width: 100%;
  height: 34px;
}

.frame-content-10_4 {
  width: 100%;
  height: 100%;
}

.Pixso-frame-10_5 {
  width: 26.436131px;
  height: 25.000044px;
  isolation: isolate;
}

.frame-content-10_5,.frame-content-10_13,.frame-content-10_22 {
  flex-direction: row;
  align-items: center;
  padding: 0px 1.218065px 0px 1.218065px;
  height: 100%;
}

.Pixso-vector-10_6 {
  width: 32.6761474609375px;
  height: 34px;
  background-image: url(@/assets/images/Vector_10_6.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.Pixso-frame-10_7 {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  left: 4px;
  top: 20.5px;
  transform: rotateY(180deg) rotateX(180deg);
}

.Pixso-group-10_8,.Pixso-group-10_25 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-vector-10_10 {
  width: 64.84%;
  height: 68.74%;
  background-image: url(@/assets/images/Boolean_operation_10_10.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 17.58%;
  right: 17.58%;
  top: 15.63%;
  bottom: 15.63%;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}

.Pixso-frame-10_13 {
  width: 94.399384px;
  height: 25.000044px;
  flex-direction: row;
  isolation: isolate;
  align-items: center;
}

.Pixso-vector-10_14 {
  width: 101.652099609375px;
  height: 34px;
  background-image: url(@/assets/images/Vector_10_14.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.Pixso-paragraph-10_21 {
  font-size: 14px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  color: rgba(24, 46, 65, 1);
  position: absolute;
  z-index: 2;
  left: 9.563843px;
  top: 4.5px;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-10_22 {
  width: 26.533798px;
  height: 25.000044px;
  flex-direction: row;
  isolation: isolate;
  align-items: center;
}

.Pixso-vector-10_23 {
  width: 32.734130859375px;
  height: 34px;
  background-image: url(@/assets/images/Vector_10_23.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.Pixso-frame-10_24 {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  left: 6.164551px;
  top: 4.5px;
}

.Pixso-vector-10_27 {
  width: 64.85%;
  height: 68.74%;
  background-image: url(@/assets/images/Boolean_operation_10_27.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 17.58%;
  right: 17.57%;
  top: 15.63%;
  bottom: 15.63%;
}

.Pixso-frame-10_30,.frame-content-10_30 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Pixso-frame-10_30 {
  flex-grow: 1;
}

.frame-content-10_30 {
  gap: 5px;
  height: 100%;
}

.Pixso-frame-10_31,.frame-content-10_31 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-10_31 {
  height: 20px;
  overflow: hidden;
}

.frame-content-10_31 {
  padding: 1px 0px 1px 0px;
  height: 100%;
}

.Pixso-paragraph-10_32,.Pixso-paragraph-10_33,.Pixso-paragraph-10_34,.Pixso-paragraph-10_35,.Pixso-paragraph-10_36,.Pixso-paragraph-10_37,.Pixso-paragraph-10_38 {
  font-size: 14px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  font-feature-settings: "locl" 0;
  text-decoration: none;
  color: rgba(114, 114, 114, 1);
  width: 80px;
  white-space: pre;
}

.Pixso-frame-10_39,.frame-content-10_39 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Pixso-frame-10_39 {
  overflow: hidden;
  flex-grow: 1;
}

.frame-content-10_39 {
  padding: 2px 2px 2px 2px;
  height: 100%;
}

.Pixso-frame-10_40,.frame-content-10_40 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.Pixso-frame-10_40 {
  height: 58px;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  align-self: stretch;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(231, 248, 255, 1);
}

.frame-content-10_40 {
  gap: 2px;
  padding: 5px 6px 2px 6px;
  height: 100%;
}

.Pixso-frame-10_41,.Pixso-frame-10_49,.Pixso-frame-10_57,.Pixso-frame-10_65,.Pixso-frame-10_78 {
  width: 66.14286px;
  height: 11px;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-10_41,.frame-content-10_49,.frame-content-10_57,.frame-content-10_65,.frame-content-10_78 {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.Pixso-paragraph-10_42,.Pixso-paragraph-10_58 {
  font-size: 12px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(0, 136, 190, 1);
  width: 28.14286px;
  height: 11px;
}

.Pixso-frame-10_43,.Pixso-frame-10_59 {
  width: 28px;
  height: 11px;
  overflow: hidden;
  align-self: stretch;
  border-radius: 74px 74px 74px 74px;
  background-color: rgba(165, 230, 255, 1);
}

.Pixso-paragraph-10_44,.Pixso-paragraph-10_52,.Pixso-paragraph-10_60,.Pixso-paragraph-10_68,.Pixso-paragraph-10_76,.Pixso-paragraph-10_81,.Pixso-paragraph-10_89,.Pixso-paragraph-10_94,.Pixso-paragraph-10_99,.Pixso-paragraph-10_104,.Pixso-paragraph-10_109,.Pixso-paragraph-10_114,.Pixso-paragraph-10_119,.Pixso-paragraph-10_124,.Pixso-paragraph-10_129,.Pixso-paragraph-10_134,.Pixso-paragraph-10_139,.Pixso-paragraph-10_144,.Pixso-paragraph-10_149,.Pixso-paragraph-10_154,.Pixso-paragraph-10_159,.Pixso-paragraph-10_164,.Pixso-paragraph-10_169,.Pixso-paragraph-10_174,.Pixso-paragraph-10_179,.Pixso-paragraph-10_184,.Pixso-paragraph-10_189,.Pixso-paragraph-10_194,.Pixso-paragraph-10_199,.Pixso-paragraph-10_204,.Pixso-paragraph-10_209,.Pixso-paragraph-10_214,.Pixso-paragraph-10_219,.Pixso-paragraph-10_224,.Pixso-paragraph-10_229,.Pixso-paragraph-10_234,.Pixso-paragraph-10_239,.Pixso-paragraph-10_244,.Pixso-paragraph-10_249,.Pixso-paragraph-10_254,.Pixso-paragraph-10_259,.Pixso-paragraph-10_264 {
  font-size: 8px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: flex-end;
  letter-spacing: 0px;
  text-decoration: none;
  color: rgba(52, 52, 52, 1);
  width: 16px;
  height: 7px;
  position: absolute;
  left: 6px;
  top: 3px;
}

.Pixso-frame-10_45,.Pixso-frame-10_53,.Pixso-frame-10_61,.Pixso-frame-10_69,.Pixso-frame-10_82 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.frame-content-10_45,.frame-content-10_53,.frame-content-10_61,.frame-content-10_69,.frame-content-10_82 {
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  padding: 0px 0px 0px 1px;
  width: 100%;
  height: 100%;
}

.Pixso-paragraph-10_46,.Pixso-paragraph-10_47,.Pixso-paragraph-10_63,.Pixso-paragraph-10_54,.Pixso-paragraph-10_55,.Pixso-paragraph-10_70,.Pixso-paragraph-10_71,.Pixso-paragraph-10_83,.Pixso-paragraph-10_84 {
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  text-decoration: none;
}

.Pixso-paragraph-10_46 {
  font-size: 7px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  line-height: 1px;
  color: rgba(0, 136, 190, 0.5);
  width: 65px;
  height: 8px;
}

.Pixso-paragraph-10_47,.Pixso-paragraph-10_63 {
  font-size: 9px;
  font-family: "Alimama FangYuanTi VF-Medium-Square";
  font-weight: 500;
  text-align: left;
  line-height: 10px;
  color: rgba(0, 136, 190, 0.8);
  width: 100%;
  flex-grow: 1;
}

.Pixso-frame-10_48 {
  width: 78.14286px;
  height: 58px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255, 231, 251, 1);
}

.frame-content-10_48,.frame-content-10_56,.frame-content-10_64,.frame-content-10_77 {
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  padding: 5px 6px 2px 6px;
  width: 100%;
  height: 100%;
}

.Pixso-paragraph-10_50 {
  font-size: 12px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(236, 87, 255, 1);
  width: 28.14286px;
  height: 11px;
}

.Pixso-frame-10_51 {
  width: 28px;
  height: 11px;
  overflow: hidden;
  align-self: stretch;
  border-radius: 74px 74px 74px 74px;
  background-color: rgba(253, 165, 255, 1);
}

.Pixso-paragraph-10_54 {
  font-size: 7px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  line-height: 1px;
  color: rgba(236, 87, 255, 0.5);
  width: 18px;
  height: 8px;
}

.Pixso-paragraph-10_55 {
  font-size: 9px;
  font-family: "Alimama FangYuanTi VF-Medium-Square";
  font-weight: 500;
  text-align: left;
  line-height: 10px;
  color: rgba(236, 87, 255, 0.8);
  width: 100%;
  flex-grow: 1;
}

.Pixso-frame-10_56 {
  width: 78.14286px;
  height: 58px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(231, 248, 255, 1);
}

.Pixso-paragraph-10_62 {
  font-size: 7px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(0, 136, 190, 0.5);
  width: 18px;
  height: 8px;
}

.Pixso-frame-10_64 {
  width: 78.142868px;
  height: 58px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(194, 255, 208, 1);
}

.Pixso-paragraph-10_66 {
  font-size: 12px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(0, 154, 36, 1);
  width: 28.14286px;
  height: 11px;
}

.Pixso-frame-10_67 {
  width: 28px;
  height: 11px;
  overflow: hidden;
  align-self: stretch;
  border-radius: 74px 74px 74px 74px;
  background-color: rgba(111, 241, 141, 1);
}

.Pixso-paragraph-10_70 {
  font-size: 7px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  line-height: 1px;
  color: rgba(49, 179, 79, 0.5);
  width: 18px;
  height: 8px;
}

.Pixso-paragraph-10_71 {
  font-size: 9px;
  font-family: "Alimama FangYuanTi VF-Medium-Square";
  font-weight: 500;
  text-align: left;
  line-height: 10px;
  color: rgba(0, 154, 36, 1);
  width: 100%;
  flex-grow: 1;
}

.Pixso-frame-10_72,.frame-content-10_72 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
}

.Pixso-frame-10_72 {
  height: 58px;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  align-self: stretch;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(233, 233, 233, 1);
  opacity: 0.3;
}

.frame-content-10_72 {
  gap: 10px;
  padding: 5px 6px 2px 6px;
  height: 100%;
}

.Pixso-frame-10_73,.Pixso-frame-10_86,.Pixso-frame-10_91,.Pixso-frame-10_96,.Pixso-frame-10_101,.Pixso-frame-10_106,.Pixso-frame-10_111,.Pixso-frame-10_116,.Pixso-frame-10_121,.Pixso-frame-10_126,.Pixso-frame-10_131,.Pixso-frame-10_136,.Pixso-frame-10_141,.Pixso-frame-10_146,.Pixso-frame-10_151,.Pixso-frame-10_156,.Pixso-frame-10_161,.Pixso-frame-10_166,.Pixso-frame-10_171,.Pixso-frame-10_176,.Pixso-frame-10_181,.Pixso-frame-10_186,.Pixso-frame-10_191,.Pixso-frame-10_196,.Pixso-frame-10_201,.Pixso-frame-10_206,.Pixso-frame-10_211,.Pixso-frame-10_216,.Pixso-frame-10_221,.Pixso-frame-10_226,.Pixso-frame-10_231,.Pixso-frame-10_236,.Pixso-frame-10_241,.Pixso-frame-10_246,.Pixso-frame-10_251,.Pixso-frame-10_256,.Pixso-frame-10_261 {
  width: 66.14286px;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-10_73,.frame-content-10_86,.frame-content-10_91,.frame-content-10_96,.frame-content-10_101,.frame-content-10_106,.frame-content-10_111,.frame-content-10_116,.frame-content-10_121,.frame-content-10_126,.frame-content-10_131,.frame-content-10_136,.frame-content-10_141,.frame-content-10_146,.frame-content-10_151,.frame-content-10_156,.frame-content-10_161,.frame-content-10_166,.frame-content-10_171,.frame-content-10_176,.frame-content-10_181,.frame-content-10_186,.frame-content-10_191,.frame-content-10_196,.frame-content-10_201,.frame-content-10_206,.frame-content-10_211,.frame-content-10_216,.frame-content-10_221,.frame-content-10_226,.frame-content-10_231,.frame-content-10_236,.frame-content-10_241,.frame-content-10_246,.frame-content-10_251,.frame-content-10_256,.frame-content-10_261 {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.Pixso-paragraph-10_74,.Pixso-paragraph-10_92,.Pixso-paragraph-10_102,.Pixso-paragraph-10_112,.Pixso-paragraph-10_127,.Pixso-paragraph-10_152,.Pixso-paragraph-10_157,.Pixso-paragraph-10_167,.Pixso-paragraph-10_177,.Pixso-paragraph-10_182,.Pixso-paragraph-10_187,.Pixso-paragraph-10_192,.Pixso-paragraph-10_202,.Pixso-paragraph-10_207,.Pixso-paragraph-10_212,.Pixso-paragraph-10_217,.Pixso-paragraph-10_227,.Pixso-paragraph-10_232,.Pixso-paragraph-10_237,.Pixso-paragraph-10_242,.Pixso-paragraph-10_257,.Pixso-paragraph-10_262 {
  font-size: 12px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(114, 114, 114, 1);
  width: 28.14286px;
  height: 11px;
}

.Pixso-frame-10_75,.Pixso-frame-10_88,.Pixso-frame-10_93,.Pixso-frame-10_98,.Pixso-frame-10_103,.Pixso-frame-10_108,.Pixso-frame-10_113,.Pixso-frame-10_118,.Pixso-frame-10_123,.Pixso-frame-10_128,.Pixso-frame-10_133,.Pixso-frame-10_138,.Pixso-frame-10_143,.Pixso-frame-10_148,.Pixso-frame-10_153,.Pixso-frame-10_158,.Pixso-frame-10_163,.Pixso-frame-10_168,.Pixso-frame-10_173,.Pixso-frame-10_178,.Pixso-frame-10_183,.Pixso-frame-10_188,.Pixso-frame-10_193,.Pixso-frame-10_198,.Pixso-frame-10_203,.Pixso-frame-10_208,.Pixso-frame-10_213,.Pixso-frame-10_218,.Pixso-frame-10_223,.Pixso-frame-10_228,.Pixso-frame-10_233,.Pixso-frame-10_238,.Pixso-frame-10_243,.Pixso-frame-10_248,.Pixso-frame-10_253,.Pixso-frame-10_258,.Pixso-frame-10_263 {
  width: 28px;
  height: 11px;
  overflow: hidden;
  align-self: stretch;
  border-radius: 74px 74px 74px 74px;
  background-color: rgba(211, 210, 210, 1);
}

.Pixso-frame-10_77 {
  width: 78.14286px;
  height: 58px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(255, 250, 220, 1);
}

.Pixso-paragraph-10_79 {
  font-size: 12px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(212, 184, 1, 1);
  width: 28.14286px;
  height: 11px;
}

.Pixso-frame-10_80 {
  width: 28px;
  height: 11px;
  overflow: hidden;
  align-self: stretch;
  border-radius: 74px 74px 74px 74px;
  background-color: rgba(255, 242, 160, 1);
}

.Pixso-paragraph-10_83 {
  font-size: 7px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  line-height: 1px;
  color: rgba(212, 184, 1, 0.5);
  width: 32px;
  height: 8px;
}

.Pixso-paragraph-10_84 {
  font-size: 9px;
  font-family: "Alimama FangYuanTi VF-Medium-Square";
  font-weight: 500;
  text-align: left;
  line-height: 10px;
  color: rgba(212, 184, 1, 1);
  width: 100%;
  flex-grow: 1;
}

.Pixso-frame-10_85 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  z-index: 1;
  background-color: rgba(233, 233, 233, 1);
}

.frame-content-10_85,.frame-content-10_90,.frame-content-10_95,.frame-content-10_100,.frame-content-10_105,.frame-content-10_110,.frame-content-10_115,.frame-content-10_120,.frame-content-10_125,.frame-content-10_130,.frame-content-10_135,.frame-content-10_140,.frame-content-10_145,.frame-content-10_150,.frame-content-10_155,.frame-content-10_160,.frame-content-10_165,.frame-content-10_170,.frame-content-10_175,.frame-content-10_180,.frame-content-10_185,.frame-content-10_190,.frame-content-10_195,.frame-content-10_200,.frame-content-10_205,.frame-content-10_210,.frame-content-10_215,.frame-content-10_220,.frame-content-10_225,.frame-content-10_230,.frame-content-10_235,.frame-content-10_240,.frame-content-10_245,.frame-content-10_250,.frame-content-10_255,.frame-content-10_260 {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  padding: 5px 6px 2px 6px;
  width: 100%;
  height: 100%;
}

.stroke-wrapper-10_85 {
  isolation: isolate;
  width: 78.14286px;
  height: 58px;
}

.stroke-10_85 {
  position: absolute;
  inset: 0px;
  border-radius: 6px 6px 6px 6px;
  pointer-events: none;
  z-index: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(255, 184, 184, 1);
}

.Pixso-paragraph-10_87,.Pixso-paragraph-10_97,.Pixso-paragraph-10_107,.Pixso-paragraph-10_117,.Pixso-paragraph-10_122,.Pixso-paragraph-10_132,.Pixso-paragraph-10_137,.Pixso-paragraph-10_142,.Pixso-paragraph-10_147,.Pixso-paragraph-10_162,.Pixso-paragraph-10_172,.Pixso-paragraph-10_197,.Pixso-paragraph-10_222,.Pixso-paragraph-10_247,.Pixso-paragraph-10_252 {
  font-size: 12px;
  font-family: "Alimama FangYuanTi VF-Regular";
  font-weight: 400;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 1px;
  text-decoration: none;
  color: rgba(114, 114, 114, 1);
  white-space: pre-line;
  width: 28.14286px;
  height: 11px;
}

.Pixso-frame-10_90,.Pixso-frame-10_95,.Pixso-frame-10_100,.Pixso-frame-10_105,.Pixso-frame-10_110,.Pixso-frame-10_115,.Pixso-frame-10_120,.Pixso-frame-10_125,.Pixso-frame-10_130,.Pixso-frame-10_135,.Pixso-frame-10_140,.Pixso-frame-10_145 {
  width: 78.14286px;
  height: 58px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(233, 233, 233, 1);
  opacity: 0.3;
}

.Pixso-frame-10_150,.Pixso-frame-10_155,.Pixso-frame-10_160,.Pixso-frame-10_165,.Pixso-frame-10_170,.Pixso-frame-10_175,.Pixso-frame-10_180,.Pixso-frame-10_185,.Pixso-frame-10_190,.Pixso-frame-10_195,.Pixso-frame-10_200,.Pixso-frame-10_205,.Pixso-frame-10_210,.Pixso-frame-10_215,.Pixso-frame-10_220,.Pixso-frame-10_225,.Pixso-frame-10_230,.Pixso-frame-10_235,.Pixso-frame-10_240,.Pixso-frame-10_245,.Pixso-frame-10_250,.Pixso-frame-10_255,.Pixso-frame-10_260 {
  width: 78.14286px;
  height: 58px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 6px 6px 6px 6px;
  background-color: rgba(233, 233, 233, 1);
}
