@font-face {
                font-family: "Alimama FangYuanTi VF-Medium"; font-style: normal; src: url('@/assets/fonts/AlimamaFangYuanTiVF-Thin_1.ttf')
            }
@font-face {
                font-family: "zixiaohunruiyihei_trial-Regular"; font-style: normal; src: url('@/assets/fonts/字小魂锐艺黑_1.ttf'); font-weight: 400
            }
@font-face {
                font-family: "qiantuxiaotuti-iFontslianming-Regular"; font-style: normal; src: url('@/assets/fonts/千图小兔体-iFonts联名_1.ttf'); font-weight: 400
            }